.App {
  color: #AFBDD1;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh; 
}
.left-side{
  width: 65%;
  margin-left: 20px;
}
.background{
  background-color: #121d2e;
  height: 110%;
}
.dead-cap-table{
  height: 55vh;
}
.right-side{
  margin-top: 40px;
  margin-right: 40px;
  width: 35%;
  height: 60vh;
}
.nav-button{
  color: #AFBDD1;
  font-family: Roboto;
  margin-left: 20px;
  background-color:#420E97;
  margin-top: 10px;
  padding: 2px 10px;
}
.tri-table{
  height: 40vh;
}