.App {
  color: #AFBDD1;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh; 
}
.left-side{
  margin-top: 20px;
  width: 65%;
  margin-left: 20px;
}
.background{
  background-color: #121d2e;
  height: 100%;
}
.dead-cap-table{
  height: 50vh;
}
.right-side{
  margin-top: 60px;
  margin-right: 40px;
  width: 35%;
}
